body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 20px;

    background-image: url('./bg.jpg');
    /* Replace with your image URL */
    background-size: cover;
    /* Ensures the image covers the entire page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Keeps the background fixed while scrolling */

}

h1 {
    text-align: center;
    color: #29517e;
    margin-bottom: 20px;
}

#graph-container {
    width: 98%;
    height: 500px;
    border: 2px solid #4a90e2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

div {
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input,
select,
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
}

input:focus,
select:focus {
    border-color: #4a90e2;
    outline: none;
}

button {
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab8;
}

.table-result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #4a90e2;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s;
}

th {
    background-color: #4a90e2;
    color: white;
}

tr:hover {
    background-color: #e9f2fb;
}

#solution {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: #333;
}